HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

BREVO_API_KEY=""
EMAIL_DEFAULT_SENDER_EMAIL=""
EMAIL_DEFAULT_SENDER_NAME=""
EMAIL_DEFAULT_REPLY_TO=""
